* {
    margin: 0;
    padding: 0;
    font-family: 'Spectral SC', serif;
}


/* FLAME#####################################################################################################################*/

.flames {
    display: flex;
}

.container {
    width: 60px;
    height: 60px;
    position: relative;
    transform-origin: center bottom;
    animation-name: flicker;
    animation-duration: 3ms;
    animation-delay: 200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.flame {
    bottom: 0;
    position: absolute;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    transform: rotate(-45deg) scale(1.5, 1.5);
}

.yellow {
    left: 15px;
    width: 30px;
    height: 30px;
    background: hsl(174, 50%, 39%);
    box-shadow: 0px 0px 9px 4px hsl(174, 50%, 39%);
}

.orange {
    left: 10px;
    width: 40px;
    height: 40px;
    background: #4FD1C5;
    box-shadow: 0px 0px 9px 4px #4FD1C5;
}

.red {
    left: 5px;
    width: 50px;
    height: 50px;
    background: hsl(173, 45%, 20%);
    box-shadow: 0px 0px 5px 4px hsl(173, 45%, 20%);
}

.white {
    left: 15px;
    bottom: -4px;
    width: 30px;
    height: 30px;
    background: white;
    box-shadow: 0px 0px 9px 4px white;
}

.circle {
    border-radius: 50%;
    position: absolute;
}

.blue {
    width: 10px;
    height: 10px;
    left: 25px;
    bottom: -25px;
    background: #4FD1C5;
    box-shadow: 0px 0px 15px 10px #4FD1C5;
}

.black {
    width: 40px;
    height: 40px;
    left: 10px;
    bottom: -60px;
    background: black;
    box-shadow: 0px 0px 15px 10px black;
}

@keyframes flicker {
    0% {
        transform: rotate(-1deg);
    }
    20% {
        transform: rotate(1deg);
    }
    40% {
        transform: rotate(-1deg);
    }
    60% {
        transform: rotate(1deg) scaleY(1.04);
    }
    80% {
        transform: rotate(-2deg) scaleY(0.92);
    }
    100% {
        transform: rotate(1deg);
    }
}


/* END FLAME#####################################################################################################################*/


/* WHATSAPP BUTTON */

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0, 255, 203, .64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover,
.button:focus {
    color: #313133;
    transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
    opacity: 1;
}

button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

button:hover::after,
button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}


/* WHATSAPP BUTTON END */

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: #040809;
}

.fa-square-whatsapp {
    color: #4FD1C5;
    font-size: 100px;
    position: fixed;
    margin-top: 500px;
    margin-left: 1800px;
    cursor: pointer;
}

.fa-square-whatsapp:hover {
    font-size: 120px;
    color: #4FD1C5;
    transition: 1s;
}

nav .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    background-color: black;
    box-shadow: 0 1px 100px #4FD1C5;
    width: 100%;
    height: 80px;
    transition: 2s;
    cursor: default;
}

nav .nav-bar li {
    padding: 15px;
    color: white;
}

nav .nav-bar li:hover {
    text-shadow: 0 10px 15px #4FD1C5;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

li {
    list-style: none;
}

.fa-bars {
    font-size: 1px;
}

.options {
    display: none;
}

.mainTextBlocks {
    margin-top: 100px;
    display: flex;
}

.mainTextBlocks .leftBlockMain {
    width: 50%;
    height: 500px;
}

.mainTextBlocks .rightBlockMain {
    display: flex;
    width: 50%;
    height: 500px;
}

.rightBlockMain {
    margin-top: 200px;
}

.rightBlockMain img {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.leftBlockMain h1 {
    color: white;
    font-size: 150px;
    margin-top: 50px;
    margin-left: 50px;
}

.acercaDe {
    text-align: center;
    border: solid 2px whitesmoke;
    box-shadow: 0 0 24px 10px #4FD1C5;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-top: 200px;
    padding: 40px;
}

.acercaDe h2 {
    color: whitesmoke;
    font-size: 50px;
}

.acercaDe p {
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
}

.acercaDe img {
    margin-top: 50px;
}

.proceso {
    text-align: start;
    border: solid 2px whitesmoke;
    box-shadow: 0 0 24px 10px #4FD1C5;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-top: 150px;
    padding: 40px;
}

.proceso h2 {
    color: whitesmoke;
    font-size: 50px;
}

.textProceso {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textProceso img {
    width: 50%;
    border-radius: 20px;
}

.proceso p {
    width: 100%;
    text-align: start;
    color: whitesmoke;
    font-size: 30px;
}

.servicios {
    text-align: start;
    border: solid 2px whitesmoke;
    box-shadow: 0 0 24px 10px #4FD1C5;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-top: 150px;
    padding: 40px;
}

.servicios h3 {
    color: whitesmoke;
    font-size: 50px;
}

.servicios p {
    color: white;
    width: 100%;
    font-size: 30px;
    text-align: start;
}

.servicios img {
    width: 20%;
}

.serv div {
    display: flex;
    align-items: center;
}

.serv img {
    border: solid 1px white;
    border-radius: 25px;
}

.testimonios {
    text-align: start;
    border: solid 2px whitesmoke;
    border-radius: 20px;
    box-shadow: 0 0 24px 10px #4FD1C5;
    width: 90%;
    margin: auto;
    margin-top: 150px;
    padding: 40px;
}

.testimonios h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    margin-bottom: 40px;
}

.testimonios .videos {
    display: flex;
    justify-content: center;
}

.videos video {
    width: 250px;
    margin: auto;
    border-radius: 25px;
    padding: 5px;
    transition: 1s;
}

.videos video:hover {
    width: 280px;
    box-shadow: 0 0 24px #4FD1C5;
}

.contactos {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    width: 40%;
    margin: auto;
    margin-top: 150px;
    padding: 40px;
    color: white;
}

.contactos h1 {
    font-size: 50px;
}

.contactos p {
    font-size: 40px;
    color: black;
}

.contactos i {
    font-size: 50px;
}

.contactos a p {
    color: white;
}

.callButton {
    margin-top: 40px;
}

.callButton p:hover {
    color: black;
}

.politicas {
    text-align: center;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-top: 150px;
    padding: 40px;
    color: white;
}


/*RESPONSIVE PATH*/

@media only screen and (max-width: 600px) {
    nav .nav-bar {
        display: none;
    }
    nav .nav-bar-responsive {
        color: white;
        border-bottom: solid 2px whitesmoke;
        transition: 1s ease-in-out;
    }
    .nav-bar-responsive li {
        margin-left: 5px;
        transition: 1s ease-in-out;
        padding: 10px;
    }
    .options {
        display: none;
        transition: 1s ease-in-out;
    }
    .fa-bars {
        display: block;
        font-size: 50px;
        padding: 15px;
    }
    .mainTextBlocks {
        display: block;
    }
    .mainTextBlocks .leftBlockMain {
        width: 100%;
        height: 200px;
    }
    .mainTextBlocks .rightBlockMain {
        width: 100%;
    }
    .leftBlockMain h1 {
        font-size: 50px;
    }
    .mainTextBlocks .rightBlockMain img {
        position: relative;
        overflow: hidden;
        width: 100%;
    }
    .acercaDe {
        text-align: center;
        border-radius: 20px;
        width: 90%;
        margin: -320px auto;
        padding: 10px;
    }
    .acercaDe h2 {
        color: whitesmoke;
        font-size: 40px;
    }
    .acercaDe p {
        width: 100%;
        text-align: center;
        color: whitesmoke;
        font-size: 20px;
    }
    .acercaDe img {
        margin-top: 50px;
    }
    .videos {
        flex-direction: column;
    }
    .rightBlockMain {
        display: none;
    }
    .proceso {
        width: 90%;
        padding: 10px;
        margin-top: 380px;
    }
    .proceso h2 {
        font-size: 40px;
    }
    .proceso p {
        font-size: 20px;
    }
    .proceso .textProceso {
        flex-direction: column;
    }
    .servicios {
        width: 90%;
        padding: 10px;
    }
    .servicios h3 {
        font-size: 30px;
        margin-top: 10px;
    }
    .servicios p {
        font-size: 15px;
    }
    .serv div {
        flex-direction: column;
    }
    .serv img {
        width: 50%;
        border: none;
        margin-bottom: 10px;
    }
    .testimonios {
        width: 70%;
    }
    .videos video {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .contactos h1 {
        font-size: 30px;
    }
    .contactos {
        padding: 10px;
    }
    .contactos div {
        width: 50%;
    }
    .contactos i {
        font-size: 30px;
    }
    .contactos p {
        font-size: 30px;
    }
    .politicas {
        padding: 10px;
    }
    .politicas p {
        font-size: 10px;
        text-align: center;
    }
}